<div class="w3-container w3-card-2 w3-light-gray w3-round-large w3-section w3-padding w3-margin-right">
	<div style='display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center'>
	<div class="w3-panel" style='width:70%; margin:0 auto;'>
		<canvas id='canvas'></canvas>
	</div>
	</div>
</div>
	<script src='/assets/js/Chart.min.js'></script>
	<script src='/assets/js/utils.js'></script>
	<script src='/assets/js/real-time.js'></script>
	<script>
		const socket = io();
		socket.emit('req', 'real-time');
		socket.on('real-time', (x) => {
			console.log(x);
			window.plot.data.labels = x.labels;
			window.plot.data.datasets[0].data = x.data;
			window.plot.update();
		});
	</script>	

	

