<div class="w3-container w3-card-2 w3-light-gray w3-round-large w3-section w3-padding w3-margin-right">
	<div style='display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center'>
		<div class="w3-panel" style='width:640px; margin-left: 10px; margin-right: 20px; margin-bottom: 40px'>
			<canvas id='canvas_solar'></canvas>
		</div>
		<div class="w3-panel" style='width:640px; margin-left: 20px; margin-right: 20px; margin-bottom: 40px'>
			<canvas id='canvas_energy'></canvas>
		</div>
	</div>
</div>
	<script src='/js/Chart.min.js'></script>
	<script src='/js/utils.js'></script>
	<script src='/charts.js'></script>
	<script>
		const socket = io();
		socket.emit('req', 'update24h');
		socket.on('solar24h', (x) => {
			window.figure1.data.labels = x[0].labels;
			for(let i=0; i<x.length; i++) {
				window.figure1.data.datasets[i].data = x[i].data;
			}
			window.figure1.update();
		});

		socket.on('energy24h', (x) => {
			window.figure2.data.labels = x[0].labels;
			for(let i=0; i<x.length; i++) {
				window.figure2.data.datasets[i].data = x[i].data;
			}
			window.figure2.update();
		});
	</script>	
